.title{
    width: fit-content;
    margin: auto;
    font-size: 30px;
}

.image > img{
  margin: auto;
  width: fit-content;
  height: 400px;
}

.input-field{
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}

.input-field > input{
    width: 400px;
    height: 55px;
    background-color: var(--background-light-gray);
    color: #2e2e2e;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;   
    
}

.withdraw-money{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.withdraw-money > button{
    width: 350px;
    height: 50px;
    background-color: var(--pink);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
}

/* ----------------------------- VIEWPORTS ---------------------------------*/

@media only screen and (max-width: 358px) and (max-height: 641px)
                   and (min-width: 319px) and (min-height: 479px){
    .title{
        font-size: 10px;
        margin-top: 5px;
    }
    
    .image > img{
      height: 200px;
      padding-left: 10%;
      
    }
    
    .input-field{
        margin-top: 20px;
    }
    
    .input-field > input{
        width: 210px;
        height: 32px;
        font-size: 18px;
    }

    .withdraw-money > button{
        width: 250px;
        height: 50px;
    }     
}

@media only screen and (max-width: 375px) and (max-height: 812px)
                   and (min-width: 359px) and (min-height: 591px){
    .title{
        font-size: 13px;
        margin-top: 5px;
    }
    
    .image > img{
      height: 220px;
      padding-left: 9%;
      
    }
    
    .input-field{
        margin-top: 20px;
    }
    
    .input-field > input{
        width: 210px;
        height: 32px;
        font-size: 18px;
    }

    .withdraw-money > button{
        width: 240px;
        height: 52px;
    }     
}

@media only screen and (max-width: 412px) and (max-height: 797px)
                   and (min-width: 383px) and (min-height: 591px){
    .title{
        font-size: 15px;
        margin-top: 5px;
    }
    
    .image > img{
      height: 220px;
      padding-left: 9%;
      
    }
    
    .input-field{
        margin-top: 20px;
    }
    
    .input-field > input{
        width: 220px;
        height: 32px;
        font-size: 18px;
    }

    .withdraw-money > button{
        width: 240px;
        height: 50px;
    }     
}

@media only screen and (max-width: 478px) and (max-height: 798px)
                   and (min-width: 413px) and (min-height: 735px){
    .title{
        font-size: 20px;
        margin-top: -5px;
    }
    
    .image > img{
      height: 250px;
      padding-left: 7%;
      
    }
    
    .input-field{
        margin-top: 20px;
    }
    
    .input-field > input{
        width: 230px;
        height: 35px;
        font-size: 18px;
    }

    .withdraw-money > button{
        width: 260px;
        height: 50px;
    }     
}

@media only screen and (max-width: 481px) and (max-height: 801px)
                   and (min-width: 479px) and (min-height: 799px){ 
    .title{
        font-size: 25px;
        margin-top: -5px;
    }
    
    .image > img{
      height: 300px;
      padding-left: 4%;
    }
    
    .input-field{
        margin-top: 20px;
    }
    
    .input-field > input{
        width: 240px;
        height: 35px;
        font-size: 18px;
    }

    .withdraw-money > button{
        width: 270px;
        height: 50px;
    }     
}

